<p>
  Quantity products added ==>  {{ myShoppingCart.length }}
</p>
<p>
  Total ==> $ {{ total }}
</p>
<p>
  Today is ==> {{ today | date }}
</p>
<p>
  The best day was ==> {{ otherDate | date:'longDate' }}
</p>
<p>
  Pasaron desde best day ==> {{ otherDate | timeAgo }}
</p>
<p>
  {{ 'eL Amosr EN lA viDa' | uppercase }}
</p>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
