<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/images/nav/logo-corto.png" alt="menu">
    </button>
    <a href="">
      <img src="./assets/images/nav/logo-sale.png" alt="logo">
    </a>
    <span class="cartMobile">
      <a href="">
      <img src="./assets/images/nav/shopping-cart.png" alt="logo">
    </a>
    <span class="counter">{{ counter }}</span>
  </span>

  </div>
<div class="side-menu" [class.active]="activeMenu">
  <button (click)="toggleMenu()">Close</button>
  <ul>
    <li><a href="">All</a></li>
    <li><a href="">Pictures</a></li>
    <li><a href="">Statues</a></li>
  </ul>
</div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo logoLong" href="">
        <img src="./assets/images/nav/logo-largo.png" alt="menu">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Pictures</a></li>
        <li><a href="">Statues</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!token; else elseBlock"  (click)="login()">Login Martin</button>
        <ng-template #elseBlock>{{ profile?.email }}</ng-template>
        <button (click)="getProfile()">Get Martin Profile</button>
      </div>
      <div class="cart">
        <a href="">
          <img src="./assets/images/nav/shopping-cart.png" alt="logo">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>

    </div>

    </div>
</div>
